<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCskG6-Mjw5stmky6cz9L15PqgB4DpvF_0</string>
	<key>GCM_SENDER_ID</key>
	<string>746808756851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gal.sw33t1sl4nd</string>
	<key>PROJECT_ID</key>
	<string>app-775</string>
	<key>STORAGE_BUCKET</key>
	<string>app-775.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746808756851:ios:5f6610dcb20a6292d73806</string>
</dict>
</plist>